<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
</head>
<body>
<div>
    <table th:border="1">
        <thread>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">e-mail</th>
                <th scope="col"></th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="user: ${usertable}">
            <td th:text="${user.id}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.email}"/>
            <td><a th:href="@{/{id}/edit(id=${user.getId()})}">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/new}">Create new user</a>
</div>
</body>
</html>